.coin-holder {
  background-color: #053888;
  color: $color_white;
  padding: 20px;
  width: 100%;
  max-width: 750px;
  margin: 20px auto;
  border-radius: 8px;
  overflow-x: auto;
  font-size: $default-font-size;
  @include flexcon(center, left, row);

  @include respond(phone) {
    padding: 15px;
    font-size: 14px;
  }

  @include respond(small-phone) {
    font-size: 13px;
  }

  @include respond(v-small-phone) {
    font-size: 11px;
  }

  &__coin-image-con {
    display: block;
    margin-right: 10px;
    min-width: 50px;

    @include respond(phone) {
      min-width: 35px;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      @include respond(phone) {
        width: 35px;
        height: 35px;
      }
    }
  }

  &__coin-name-con {
    @include flexcon(left, center, column);
    min-width: 70px;

    @include respond(phone) {
      min-width: 50px;
    }

    .title {
      font-weight: 500;
    }

    .subtitle {
      font-weight: 300;
    }
  }

  &__price-box {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    @include respond(tab-port) {
      justify-content: flex-end;
    }

    // @include respond(phone) {
    //   justify-content: space-between;
    // }
  }


  &__coin-price-con {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 40%;
    margin: 0 20px;

    @include respond(tab-port) {
      flex-direction: column;
      margin: 0 10px;
    }

    @include respond(phone) {
      margin: 0 5px;
    }

    .amount {
      font-weight: 500;
      text-align: right;
      margin-right: 10px;

      @include respond(tab-port) {
        margin: 0;
        margin-bottom: 5px;
      }
      
    }

    .action {
      opacity: 0.9;
      padding: 10px 20px;
      width: 80px;
      font-size: 16px;

      @include respond(tab-port) {
        padding: 8px 16px;
        // width: 60px;
      }

      @include respond(phone) {
        padding: 5px 10px;
        width: 60px;
      }
      

      &:hover {
        opacity: 1;
      }

      &--buy {
        @include custom-btn(#06a84b,$color_white,#06a84b);
      }

      &--sell {
        @include custom-btn(#ff5f24,$color_white,#ff5f24);
      }
    }
  }
}
