.coin-holder {
  background-color: #1c3e71;
  color: $color_white;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 8px;
  overflow-x: auto;
  @include flexcon(center, left, row);

  &__coin-image-con {
    display: block;
    margin-right: 10px;
    min-width: 50px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  &__coin-name-con {
    @include flexcon(left, center, column);

    .title {
      font-size: 14px;
      font-weight: 500;
    }

    .subtitle {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__coin-price-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20px;

    .amount {
      font-size: $font18;
      font-weight: 500;
      // margin-top: 10px;
      margin-right: 10px;
    }

    .action-buy {
      @include custom-btn(#06a84b,$color_white,#06a84b);
      opacity: 0.9;
      padding: 10px 20px;
      // margin-top: 10px;
    }

    .action-buy:hover {
      opacity: 1;
      // margin-top: 10px;
    }

    .action-sell {
      @include custom-btn(#ff5f24,$color_white,#ff5f24);
      padding: 10px 20px;
      opacity: 0.9;
      // margin-top: 10px;
    }

    .action-sell:hover {
      opacity: 1;
    }
  }
}

@media screen and(max-width: 500px) {
  .coin-holder{
    padding: 20px 20px;

    &__coin-image-con {
      display: block;
      margin-right: 5px;
      min-width: 30px;
  
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    &__coin-name-con {
      .title {
        font-size: 12px;
        font-weight: 500;
      }
  
      .subtitle {
        font-size: 12px;
        font-weight: 300;
      }
    }

    &__coin-price-con {
      margin: 0 10px;
      flex-direction: column;
      justify-content: center;
  
      .amount {
        font-size: 12px;
        font-weight: 500;
        margin-right: 5px;
      }
  
      .action-buy {
        @include custom-btn(#06a84b,$color_white,#06a84b);
        margin-top: 10px;
      }
  
      .action-sell {
        @include custom-btn(#ff5f24,$color_white,#ff5f24);
        margin-top: 10px;
      }
    }
  }
}