header {
  background: $header-blue;
  min-height: 100vh;
  overflow-x: hidden;
  .header--content {
    display: flex;
    @media (max-width: 1140px) {
      padding-top: 120px;
    }
    align-items: center;
    min-height: 100vh;
    .header--cto {
      padding-right: 50px;
      width: 50%;
      margin-bottom: 15px;
      h2 {
        font-size: 5.5rem;
        font-weight: bold;
        color: #ffffff;
        line-height: 1.2em;
        .gradient--text {
          background: transparent linear-gradient(109deg, #1265FB 0%, #00FFFF 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        font-size: 2.1rem;
        margin-top: 30px;
        color: #ffffff;
      }
    }
    .header--media {
      width: 50%;
      display: flex;
      padding: 10px 0 10px 50px;

      .img--left {
        width: 40%;
        img {
          width: 100%;
        }
      }
      .img--group-right {
        width: 60%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        & > img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
        .widget--span {
          max-width: 100%;
          display: flex;
          img, svg {
            width: 100%;
          }
          a {
            width: calc(50% - 10px);
            svg {
              height: 100%;
            }
            &:first-of-type {
              margin-right: 10px;
            }
            &:last-of-type {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
.bottom--sect {
  padding: 40px 0;
  overflow-x: hidden;
  .container {
    display: flex;
    min-height: 70vh;
    align-items: center;
    .meta--info {
      width: 35%;
      h3 {
        font-size: 4.5rem;
        font-weight: 500;
        color: #053888;
        line-height: 1.2em;
      }
      p {
        margin-top: 40px;
        color: #232325;
        font-size: 1.9rem;
      }
    }

    .meta--img {
      width: 65%;
      text-align: right;
      position: relative;
      padding-left: 60px;
      display: flex;
      justify-content: flex-end;
      .meta--container {
        height: 65vh;
        width: 80%;
        min-height: 700px;
        position: relative;
        display: flex;
        justify-content: center;
        .app--screen {
          height: 100%;
          width: 75%;
          object-fit: contain;
          position: relative;
          z-index: 2;
        }

        .grad--circ {
          position: absolute;
          right: 0;
          height: 80%;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }

        .country--bubbles {
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateX(-20%);;
          z-index: 3;
          left: 0;
          width: 290px;

          .bubble {
            width: 100%;
          }
        }
      }
    }
  }
}

.cto--btns {
  display: flex;
  margin-top: 30px;
  a.cto--btn {
    cursor: pointer;
    display: flex;
    padding: 15px 40px;
    border-radius: 40px;
    background: #FFFFFF;
    align-items: center;

    &:first-of-type{
      img {
        margin-top: -4px;
      }
    }
    img {
      height: 28px;
    }
    span {
      display: block;
      margin-left: 8px;
      color: #064EBE;
      font-size: 1.9rem;
      white-space: nowrap;
      //margin-top: 4px;
    }
    &:hover {
      background: transparent linear-gradient(109deg, #1265FB  0%, #5237E0 100%);
      img {
        filter: brightness(100);
      }
      span {
        color: #ffffff;
      }
    }
    &:first-of-type {
      margin-right: 16px;
    }
  }
}
