.home-intro-video {
  width: 100%;
  position: relative;

  .video-placeholder {
    width: 100%;
  }

  .play-btn {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
  }

  .play-btn:hover {
    width: 100px;
    height: 100px;
  }
}

.home-intro-video::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 5;
}