.lnd-rvw-con {
  padding-top: 50px;
  padding-bottom: 50px;
}

.review-holder {
  .heading-secondary {
    @media (max-width: 767px) {
      text-align: left;
    }
  }
.lnd-review {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 30px;
  overflow: hidden;

  .img-con {
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  }
  .rvw-con {
    padding: 30px;
    padding-top: 50px;
    background-color: #053888;
    position: relative;
    transition: background-color .5s;
    @include flexcon(left, center, column);

    &:hover {
      background-color: darken(#053888, 4.5);
    }

    .rvw-text-con {
      height: 80%;
    }

    .rvw-text {
      margin-bottom: 20px;
      display: inline-block;
      font-weight: normal;
    }

    .rvw-writer {
      font-weight: bold;
    }

    &__arrow-con {
      display: flex;
      height: 15px;
      margin-top: 30px;
      // position: absolute;
      // bottom: 30px;


      img {
        cursor: pointer;
        height: 100%;
      }

      .right-img {
        margin-left: auto;
      }
    }
  }
}

.review-box {
  background-color: #EEE8FF;
  padding: 30px;
  // flex: 30% 0 0;
  border-radius: 30px;
  border: 1px solid #AEAFB2;
  margin-right: 50px;
  color: #3e3e41;
  transition: all 0.5s;
  min-height: 275px;
  flex: 800px 0 0 !important;
  @media (max-width: 767px) {
    padding: 50px 30px;
  }
  // line-height: 2;
  .review-box__profil {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 30px;
  }
  &:not(:first-child) {
    margin: 0 40px !important;
  }

  &:hover {
    @media (min-width: 1141px) {
      transform: translateX(10px);
    }
  }

  @include respond(phone-land) {
    flex: 90% 0 0 !important;
    max-width: 90vw !important;
    // margin: 0 0 !important;
    margin: 0 5px !important;
  }

  &__profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__name {
    font-weight: 700;
  }
}

.right-anim {
  transition: transform 0.75s;
}

.right-anim:hover {
  transform: translateX(5px);
}

.left-anim {
  transition: transform 0.75s;
}

.left-anim:hover {
  transform: translateX(-5px);
}

.lnd-review-con-sm {
  display: flex;
}

.rvw-carousel-con {
  // height: 400px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.rvw-carousel {
  min-width: 90%;
  min-height: 550px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .lnd-review {
    height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .lnd-review {
    // min-height: 550px;
    // height: 160vw;
    height: 100%;

    .img-con {
      // display: inline-block;
      height: 50%;
      // img {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }
    }

    .rvw-con {
      height: 50%;
    }
  }
}

@media screen and (min-width: 1600px) {
  .lnd-review {
    height: 300px;
    max-width: 1000px;

    .rvw-con {

      .rvw-text {
        font-size: 22px;
      }

      .rvw-writer {
        font-size: 26px;
      }

      &__arrow-con {
        height: 20px;
      }
    }
  }
}
