.lnd-rvw-con {
  padding-top: 50px;
  padding-bottom: 50px;
}
.lnd-review {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: white;

  .img-con {
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .rvw-con {
    padding: 30px;
    padding-top: 50px;
    background-color: $primary_color;
    position: relative;
    @include flexcon(left, center, column);

    &:hover {
      background-color: #07214A;
    }

    .rvw-text-con {
      height: 80%;
    }

    .rvw-text {
      margin-bottom: 20px;
      display: inline-block;
      font-weight: normal;
    }

    .rvw-writer {
      font-weight: bold;
    }

    &__arrow-con {
      display: flex;
      height: 15px;
      margin-top: 30px;
      // position: absolute;
      // bottom: 30px;


      img {
        cursor: pointer;
        height: 100%;
      }

      .right-img {
        margin-left: auto;
      }
    }
  }
}

.right-anim {
  transition: transform 0.75s;
}

.right-anim:hover {
  transform: translateX(5px);
}

.left-anim {
  transition: transform 0.75s;
}

.left-anim:hover {
  transform: translateX(-5px);
}

.lnd-review-con-sm {
  display: flex;
}

.rvw-carousel-con {
  // height: 400px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.rvw-carousel {
  min-width: 90%;
  min-height: 550px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .lnd-review {
    height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .lnd-review {
    // min-height: 550px;
    // height: 160vw;
    height: 100%;

    .img-con {
      // display: inline-block;
      height: 50%;
      // img {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }
    }

    .rvw-con {
      height: 50%;
    }
  }
}

@media screen and (min-width: 1600px) {
  .lnd-review {
    height: 300px;
    max-width: 1000px;

    .rvw-con {

      .rvw-text {
        font-size: 22px;
      }

      .rvw-writer {
        font-size: 26px;
      }

      &__arrow-con {
        height: 20px;
      }
    }
  }
}