.lnd-rvw-con {
  padding-top: 50px;
  padding-bottom: 50px;
}
.lnd-review {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: white;

  .img-con {
    display: inline-block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .rvw-con {
    padding: 30px;
    background-color: $primary_color;
    position: relative;

    .rvw-text {
      margin-bottom: 10px;
      display: inline-block;
      font-weight: normal;
    }

    .rvw-writer {
      font-weight: bold;
    }

    &__arrow-con {
      display: block;
      border: 1px solid white;
      height: 30px;
      margin-top: 5px;
    }
  }
}