.why-light-triangle {
  clip-path: polygon(100% 15%, 100% 100%, 0 100%, 0 100%);
  height: 100px;
  width: 100vw;
  background-color: #E8FFF2;
  // z-index: 3;
}

.why-blue-border {
  margin-top: 40px;
  clip-path: polygon(100% 0, 100% 15%, 0 100%, 0 85%);
  background-color: $primary_color;
  height: 100px;
  margin-bottom: -100px;
}

.why-senex {
  background-color: #E8FFF2;
  padding-top: 75px;
  padding-bottom: 75px;

  .why {
    color: #2E4AE7;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  h2 {
    color: #222122;
    font-size: 40px;
    font-weight: 500;
    max-width: 800px;
    line-height: 1em;
  }

  .reason-con {
    color: #222122;
    justify-content: space-between;
    padding-top: 20px;
    .reason {
      width: 100%;
      max-width: 300px;
      margin: 20px 0;
      .icon {
        width: 50px;
        height: 50px;
        display: inline-block;
        img {
          width: 100%;
        }
      }

      .title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .content {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .why-blue-border {
    margin-top: 0;
  }
}

@media screen and (max-width: 640px) {
  .why-senex {
  
    .why {
      color: #2E4AE7;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 30px;
    }
  
    h2 {
      color: #222122;
      font-size: 40px;
      font-weight: 500;
      max-width: 800px;
      line-height: 1em;
    }
  
    .reason-con {
      padding-top: 20px;
      .reason {

        &:not(:last-child) {
          margin-bottom: 40px;
        }
        .icon {
          width: 50px;
          height: 50px;
          display: inline-block;
          img {
            width: 100%;
          }
        }
  
        .title {
          margin-bottom: 10px;
        }
      }
    }
  }
  
}


@media screen and (min-width: 1600px) {
  .why-senex {
  
    .why {
      font-size: 24px;
      margin-bottom: 30px;
    }
  
    h2 {
      color: #222122;
      font-size: 44px;
      font-weight: 500;
      max-width: 800px;
      line-height: 1em;
    }
  
    .reason-con {
      padding-top: 20px;
      .reason {

        &:not(:last-child) {
          margin-bottom: 40px;
        }
        .icon {
          width: 70px;
          height: 70px;
          margin-bottom: 10px;
          img {
            width: 100%;
          }
        }
  
        .title {
          margin-bottom: 12px;
          font-size: 20px;
        }

        .content {
          font-size: 20px;
        }
      }
    }
  }
}