.triangle-bottom-right {
  width: 0;
  height: 0;
  border-bottom: 100px solid #E8FFF2;
  border-left: 100vw solid transparent;
  overflow: hidden !important;
}

.why-senex {
  background-color: #E8FFF2;
  padding-top: 75px;
  padding-bottom: 75px;

  .why {
    color: #2E4AE7;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h2 {
    color: #222122;
    font-size: 40px;
    font-weight: 500;
    max-width: 800px;
    line-height: 1em;
  }

  .reason-con {
    color: #222122;
    justify-content: space-between;
    padding-top: 20px;
    .reason {
      width: 100%;
      max-width: 300px;
      margin: 20px 0;
      .icon {
        width: 50px;
        height: 50px;
        display: inline-block;
        img {
          width: 100%;
        }
      }

      .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }
}
