.blue-background-bs {
  @include flexcon(center, center, row);
  background-color: #053888;
  border-radius: 18px;
  margin: 80px 0;
  height: 250px;

  .register-btn-bs {
    @include custom-btn(#ffffff,$primary_color, transparent);
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 6px;
    max-width: 200px;
    border: #ffffff 1px solid;
  }
  
  .register-btn-bs:hover {
    @include custom-btn(#053888,#ffffff, #ffffff);
    border: #ffffff 1px solid;
  }  
  
}

@media screen and (min-width: 1600px) {
  .blue-background-bs {
    .register-btn-bs {
      @include custom-btn(#ffffff,#053888,$secondary_color);
      padding: 10px 18px;
      font-size: 22px;
      max-width: none;
    }
  }
  
}
