.car-star {
  width: 20px;
  height: 20px;


  img {
    width: 100%;
  }
}

.foreword-holder-car {
  margin-bottom: 50px;
}

.foreword-con-car {
  @include flexcon(left, center, column);
  max-height: 80vh;
  
  h3 {
    // font-size: 32px;
    font-weight: 500;
    margin-left: 5px;
  }

  h2 {
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .words-car {
    max-width: 500px;
    color: #242426;
    // margin-top: 100px;
  }

  .img-word-car {
    display: flex;
    align-items: center;
  }
}

.foreword-img-car {
  @include flexcon(right, flex-start, column);  
  margin-top: 30px;

  .forward-img-con-car {
    position: relative;
    width: 700px;
    height: 583.33px;

    &:hover {
      .top-left {
        transform: translate(-5%, -5%);
      }

      .top-right {
        transform: translate(5%, -5%);
      }

      .bottom-left {
        transform: translate(-5%, 5%);
      }

      .bottom-right {
        transform: translate(5%, 5%);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10%;
    }

    .top-left {
      position: absolute;
      width: 42%;
      height: 40%;
      top: 5%;
      left: 5%;
      transition: transform .3s;
    }

    .top-right {
      position: absolute;
      top: 5%;
      left: 50%;
      width: 21%;
      height: 25%;
      transition: transform .3s;
    }

    .bottom-left {
      position: absolute;
      width: 21%;
      height: 25%;
      left: 26%;
      top: 48%;
      transition: transform .3s;
    }

    .bottom-right {
      position: absolute;
      left: 50%;
      top: 33%;
      width: 50%;
      height: 41.4%;
      transition: transform .3s;
    }
    
  }
}


// .foreword-img-car {
//   @include flexcon(right, flex-start, column);  
//   margin-top: 30px;
//   border: 1px solid red;

//   .forward-img-con-car {
//     position: relative;
//     padding-top: 8.5%;

//     .dotted-img-car {
//       position: absolute;
//       top: 0;
//       right: 0;
//       width: 40%;
  
//       img {
//         width: 100%;
//       }
//     }

//     .ceo-img-car {
//       position: relative;
//       width: 88%;
//       img {
//         height: 100%;
//         width: 100%;
//         object-fit: cover;
//       }
//     }
//   }
// }

.register-btn-car {
  @include custom-btn(linear-gradient(to right, #053888, #2D5491),#ffffff, #2D5491);
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 50px;
  min-width: 180px;
  //max-width: 200px;
}

@media screen and (max-width: 640px) {
  .foreword-holder-car {
    padding-top: 60px;
  }

  .foreword-img-car {
    .forward-img-con-car {
      width: 80vw;
      height: 66.67vw;
    }
  }
}


@media screen and (min-width: 640px) and (max-width: 1199px){
  .foreword-img-car {
    .forward-img-con-car {
      width: 560px;
      height: 466.66px;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1279px){
  .foreword-img-car {
    .forward-img-con-car {
      width: 650px;
      height: 541.66px;
    }
  }
}

@media screen and (min-width: 1600px) {
  .foreword-holder-car {
    padding-top: 60px;

    .words-car {
      max-width: 100%;
      // margin-top: 100px;
    }
  }

  .register-btn-car {
    padding: 10px 18px;
    font-size: 20px;
    max-width: none;
    // border-radius: 12px;
  }
}