.gold-badge-iw {
  width: 50px;
  height: 50px;
  // margin: auto;

  @include respond(big-desktop) {
    width: 65px;
    height: 65px;
  }

  img {
    width: 100%;
  }
}

.impact-iw-con {
  justify-content: space-around;
}

.impact-iw {
  background-color: #F8F8FD;
  border-radius: 12px;
  width: 100%;
  // max-width: 350px;
  margin: 20px 0;
  padding: 30px;

  h2 {
    font-weight: 600;
    margin: 20px 0;
  }
}

// @media screen and (max-width: 1024px) {
//   .gold-badge-iw {
//     margin-left: 0;
//   }
// }

// @media screen and (min-width: 1280px) {
//   .words-iw {
//     margin-top: -70px;
//   }
// }
