.gold-badge-iw {
  width: 50px;
  height: 50px;
  margin: auto;

  img {
    width: 100%;
  }
}

.impact-iw {
  background-color: #F8F8FD;
  width: 100%;
  margin: 25px 0;
  padding: 30px 25px;

  h2 {
    font-size: x-large;
    font-weight: bold;
    margin: 30px 0;
  }

  p {
    font-weight: bold;
  }
}

.words-iw {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}