.job-modal-show {
  top: 0 !important;
  //transform: translateY(200vh) !important;
}

.job-modal-holder {
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

.job-modal-con {
  background-color: $primary_color;
  color: white;
  // width: 100%;
  height: 100vh;
  top: -100vh;
  overflow: hidden;
  left: 0;
  // position: absolute !important;
  // position: fixed;
  z-index: 1000;
  transition: all .5s;

  &__header {
    background-color: $primary_color;
    // height: 100px;
    .arrow-down {
      display: inline-block;
      width: 25px;
      margin-top: 25px;
      margin-bottom: 15px;
      cursor: pointer;

      img {
        width: 100%;
        transform: rotate(180deg);
      }
    }

    h3 {
      font-size: 28px;
      font-weight: bold;
    }
  }
}

.btn-loader {
  &__box {
    display: inline-block;
    margin-left: auto;
  }

  &__dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
  
    &:not(:last-child) {
      margin-right: 5px;
    }
  
    &--1 {
      background-color: #F03484;
      animation: bouncedot 1.5s linear 0.3s infinite;
    }
  
    &--2 {
      background-color: #34F0D3;
      animation: bouncedot 1.5s linear 0.6s infinite;
    }
  
    &--3 {
      background-color: #FF6E14;
      animation: bouncedot 1.5s linear 1s infinite;
    }
  }
}

@keyframes bouncedot {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}