.job-modal-show {
  top: 0 !important;
  //transform: translateY(200vh) !important;
}

.job-modal-holder {
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

.job-modal-con {
  background-color: $primary_color;
  color: white;
  // width: 100%;
  height: 100vh;
  top: -100vh;
  overflow: hidden;
  left: 0;
  // position: absolute !important;
  // position: fixed;
  z-index: 1000;
  transition: all .5s;

  &__header {
    background-color: $primary_color;
    // height: 100px;
    .arrow-down {
      display: inline-block;
      width: 25px;
      margin-top: 25px;
      margin-bottom: 15px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    h3 {
      font-size: 28px;
      font-weight: bold;
    }
  }
}