.job-position-holder {
  max-height: 80vh;
  overflow-y: auto;
  padding-bottom: 50px;

  &--empty {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.background-jp {
  background-color: $primary_color;
  color: #ffffff;
}

.android-developer-jp {
  padding: 45px 0;
}

.ad-jp {
  // font-size: 36px;
  font-weight: 600;
}

.ad-content-jp {
  
  p{
    margin-bottom: 30px;
  }

  .bold-paragraph-jp {
    font-weight: bold;
    margin-bottom: 15px; 
  }

  .bold-para-jp {
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 20px;
  }

  ul {
    margin-bottom: 35px;
    padding-left: 20px;
  }

  li {
    list-style: disc;
  }

  .register-btn-jp {
    @include custom-btn(#ffffff,$primary_color, $secondary_color);
    padding: 8px 16px;
    font-size: 1.8rem;
    border-radius: 6px;
    max-width: 200px;
  }
}