.job-position-holder {
  max-height: 80vh;
  overflow-y: auto;
  padding-bottom: 50px;
}

.background-jp {
  background-color: #162F55;
  color: #ffffff;
}

.android-developer-jp {
  padding: 45px 0;
}

.ad-jp {
  font-size: 36px;
  font-weight: bold;
}

.ad-content-jp {
  
  p{
    margin-bottom: 30px;
  }

  .bold-paragraph-jp {
    font-weight: bold;
    margin-bottom: 15px; 
  }

  .bold-para-jp {
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 20px;
  }

  ul {
    margin-bottom: 35px;
    padding-left: 20px;
  }

  li {
    list-style: disc;
  }

  .register-btn-jp {
    @include custom-btn(#ffffff,#162F55, $secondary_color);
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 6px;
    max-width: 200px;
  }
}