.words-sj {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  margin: 30px 0;
}

.snx-jobs-img-con {
  position: relative;

  img {
    border-radius: 24px;
  }

  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0541A3;
    border-radius: 24px;
    opacity: 0;

    .impact-iw {
      width: 60%;
      background-color: transparent;
      color: white;
    }
  }

  .img-overlay:hover {
    opacity: 0.8;
  }
}

@media screen and (min-width: 1600px) {
  .words-sj {
    font-size: 48px;
    margin: 70px 0;
  }
}

@media screen and (max-width: 640px) {
  .snx-jobs-img-con {
    .img-overlay {
  
      .impact-iw {
        width: 100%;
        margin: 15px 0;
        padding: 20px;
      }
    }
  }
}