@charset "utf-8";

@import "./colors.scss";
@import "./fonts";
@import "./trade.scss";

// Import only what we need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

@import "../../node_modules/bulma-steps/dist/css/bulma-steps.sass";
@import "../../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";
// @import "../../node_modules/cool-checkboxes-for-bulma.io/dist/css/bulma-radio-checkbox.css";

input,
select,
textarea,
button,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
