@import './fonts.scss';
$trader-height: 500px;

.wrapper {
  font-family: $font-avenir;
  min-height: 480px;
  margin-bottom: 3em;
}

.__title {
  margin-bottom: 2em;
  font-size: 1.7em;
  font-family: $font-open-sans;
  color: #1b70cf;
  line-height: normal;
  .amount__btc {
    font-weight: bold;
    font-family: $font-avenir;
    font-size: 1.2em;
  }
  .amount__currency {
    font-weight: 500;
    font-size: 1.2em;
  }
}

.trader {
  margin-bottom: 3em;
  .icons-wrapper {
    height: $trader-height;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.161);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-right: 10px;
    background-color: #ffffff;
    padding: 1.2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-container {
      flex: 100%;
    }
  }
  .content-wrapper {
    background-color: #fbfbfb;
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: $trader-height;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.161);
  }
}

.content-area {
  margin-left: 1em;
  font-size: 0.9em;
  position: relative;
  height: $trader-height;
  .__title {
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  label {
    font-weight: normal;
    font-size: inherit;
  }

  input {
    border-style: solid;
  }

  .button-wrapper {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 50px;
    button {
      background: #1b70cf;
      color: #ffffff;
      font-weight: 600;
    }
  }
}

.help {
  .text {
    display: inherit;
    background: #caddf1;
    color: #ffffff;
    border-radius: 6px;
    margin: 1.5em 0.3em;
    padding: 0.3em 0.6em;
  }
}

.user-verify {
  font-family: $font-avenir;
  .id-section,
  .selfie-section {
    display: flex;
    height: 130px;
    img {
      height: 100%;
    }
    div.widget-grp {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 1em;
      button {
        font-size: 0.95em;
        font-weight: normal;
        border: none;
        &.select-file-btn {
          background: #ebebeb;
          color: #455e6f;
        }
        &.upload-file-btn {
          color: #ffffff;
          background: #99aec4;
        }
      }
    }
  }
  .id-section {
    margin-bottom: 1.2em;
  }
}

.wallet_deposit {
  .qrcode-wrapper {
    display: inline-flex;
    p.qrcode {
      margin-right: 1em;
    }

    p.text-wrapper {
      margin-top: 2rem;
      span.text {
        margin: 1rem 0.5rem;
      }

      span.icon {
        margin-top: 1.5rem;
        margin-left: 0.5rem;
      }
    }
  }

  .address-clipboard-wrapper {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .desc-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .address-wrapper {
    height: 56px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    margin-right: 1em;
    margin-left: 1em;
    .btc-address {
      height: 100%;
      word-wrap: break-word;
      font-size: 13.5px;
      font-weight: 400;
    }
  }

  .clipboard-wrapper {
    box-sizing: border-box;
    height: 56px;
    background: #455e6f;
    color: #ffffff;
    font-size: 13.5px;
    opacity: 0.54;
    border-radius: 4px;
  }
}
