.register-btn-abt {
  @include custom-btn(#ffffff,#2E4AE7,$secondary_color);
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 6px;
  margin-bottom: 50px;
}

.register-btn-abt:hover {
  @include custom-btn(#ffffff,#234684,transparent);
}

.crypto-buddy-background {
  background-color: #2E4AE7;
  overflow: hidden;
}

.word-con-abt {
  color: #FFFFFF;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  &__content {
    margin: 0 auto;
    max-width: 675px;
  }

  h2 {
    font-weight: bold;
    font-size: 45px;

  }

  .cap-abt {
    padding-top: 35px;
  }

  .lower-case-abt {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.dancing-people {
  position: absolute;
  overflow: hidden;
  width: 100px;
  top: 15%;
  left: 15%;

  img {
    width: 100%;
  }
}

.crypto-buddy-mobile {
  transform: rotate(36deg);
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  top: -32%;
  right: -2%;
  width: 200px;
  // overflow: hidden;
  .up {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    
    img {
      width: 100%;
    }
  }

  .down {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    
    img {
      width: 100%;
    }
  }
}