.foreword-holder {
  // margin-top: 70px;
  margin-bottom: 50px;
}

.foreword-con {
  @include flexcon(left, center, column);
  color: $tertiary_color;

  h1 {
    line-height: 1em;
    color: $tertiary_color;
    margin-bottom: 15px;
  }

  h5 {
    color: #838384;
  }

  p {
    color: #3E3E41;
  }
}

.foreword-img {
  @include flexcon(right, flex-start, column);  
  margin-top: 30px;

  .forward-img-con {
    position: relative;
    padding-top: 8.5%;
    .dotted-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
  
      img {
        width: 100%;
      }
    }

    .ceo-img {
      position: relative;
      width: 88%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .foreword-holder {
    // margin-top: 70px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1600px) {
  .foreword-con {
    font-size: 20px;

    h1 {
      font-size: 48px;
    }
  }
}