.foreword-holder {
  // margin-top: 70px;
  margin-bottom: 50px;
  // min-height: 100vh
}

.foreword-con {
  @include flexcon(left, flex-start, column);
  color: $tertiary_color;
  padding-top: 5%;
  width: 50%;

  @include respond(tab-land) {
    width: 100%;
    margin-bottom: 40px;
  }
  // align-self: flex-start;

  h1 {
    line-height: 1em;
    color: $tertiary_color;
    margin-bottom: 15px;
  }

  h5 {
    color: #838384;
  }

  p {
    color: #3E3E41;
    // width: 95%;

    @include respond(tab-land) {
      width: 100%;
    }
  }
}

.foreword-img {
  @include flexcon(right, flex-start, column);  
  // margin-top: 30px;
  width: 50%;

  @include respond(tab-land) {
    width: 100%;
  }

  .forward-img-con {
    position: relative;
    padding-top: 6%;

    @include respond(tab-land) {
      margin-bottom: 50px;
      // right: 0;
    }
    .dotted-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
  
      img {
        width: 100%;
      }
    }

    .ceo-img {
      position: relative;
      width: 80%;
      // top: 10%;
      right: 7.5%;
      margin-left: auto;
      z-index: 3;

      @include respond(tab-port) {
        margin-left: auto;
        // right: 0;
      }
      // right: 7.5%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .ceo-arrow {
      height: 200px;
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .foreword-holder {
    // margin-top: 70px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1600px) {
  .foreword-con {
    font-size: 20px;

    h1 {
      font-size: 48px;
    }
  }
}