.join-con {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.join {
  @include flexcon(center, left, row);
  color: white;
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-bottom: 30px;

  @include respond(big-desktop) {
    max-width: 600px;
  }

  h2 {
    font-weight: 500;
    // font-size: 36px;
    line-height: 1em;
    margin-bottom: 20px;
  }

  p {
    text-align: left;
  }
  .diamond {
    margin-right: 20px;
    width: 50px !important;
    min-width: 50px;
    height: 50px;
    display: flex;
    align-self: center;

    @include respond(big-desktop) {
      width: 70px !important;
      min-width: 70px;
      height: 70px;
    }

    img {
      width: 100%;
    }
  }
}

.purple {
  background-color: #9348FA;
  padding: 30px;
}

.green {
  background-color: #09AD87;
  padding: 30px;
}

.arrow {
  width: 15px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  img {
    width: 100%;
  }
}
