.join-con {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.join {
  @include flexcon(center, left, row);
  padding: 20px;
  color: white;
  // margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 480px;
  position: relative;

  h2 {
    font-weight: bold;
    font-size: xx-large;
    line-height: 1em;
  }

  p {
    text-align: left;
    margin-bottom: 40px;
  }
  .diamond {
    margin-right: 15px;
    width: 50px !important;
    min-width: 50px;
    height: 50px;

    img {
      width: 100%;
    }
  }
}

.purple {
  background-color: #9348FA;
}

.green {
  background-color: #09AD87;
}

.arrow {
  max-width: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;

  img {
    width: 100%;
  }
}