.join-con {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.join {
  @include flexcon(center, left, row);
  color: white;
  // margin: 0 auto;
  // margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-bottom: 20px;

  h2 {
    font-weight: bold;
    font-size: xx-large;
    line-height: 1em;
    margin-bottom: 20px;
  }

  p {
    text-align: left;
  }
  .diamond {
    margin-right: 15px;
    width: 50px !important;
    min-width: 50px;
    height: 50px;
    display: flex;
    align-self: center;

    img {
      width: 100%;
    }
  }
}

.purple {
  background-color: #9348FA;
  padding: 20px;
}

.green {
  background-color: #09AD87;
  padding: 20px;
}

.arrow {
  width: 15px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  img {
    width: 100%;
  }
}