.mission-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.our-mission-con {
  @include flexcon(center, center, column);
  background-color: #F5F5F7;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 40px;

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }

  p {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .double-arrow {
    margin-top: 20px;
    width: 50px;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }
}

.our-vision-con {
  @include flexcon(center, space-around, column);
  background-color: #F5F5F7;
  width:100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 40px;

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }

  p {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .green-eye {
    margin-top: 20px;
    width: 50px;
    margin-bottom: 10px;

    img {
      width: 100%;
    }

  }
}