.heading-primary {
  font-size: 4.6rem;//46px;
  text-align: center;
  font-weight: 700;

  &--wt-500 {
    font-weight: 500;
  }

  &--wt-600 {
    font-weight: 600;
  }

  // @media  screen and (max-width: 640px) {
  //   font-size: 32px;
  // }

  // @media  screen and (min-width: 1600px) {
  //   font-size: 48px;
  // }
}

.heading-secondary {
  font-size: 4rem;//40px;
  text-align: center;

  &--weight-md {
    font-weight: 500;
  }

  // @media  screen and (min-width: 1600px) {
  //   font-size: 44px;
  // }
}

.heading-tertiary {
  font-size: 3.6rem;

  &--sm {
    font-size: 3rem;
  }

  &--v-sm {
    font-size: 2.4rem;
  }

  &--wt-500 {
    font-weight: 500;
  }

  &--wt-600 {
    font-weight: 600;
  }
}

.paragraph {
  font-size: $default-font-size;

  @include respond(big-desktop) {
    font-size: 1.5rem;
  }

  &--sm {
    font-size: 14px;

    @include respond(big-desktop) {
      font-size: 16px;
    }
  }

  &--600 {
    font-weight: 600;
  }

  &--700 {
    font-weight: 700;
  }
}