
.faq-item-con {
  padding: 20px;
  border: 1px solid #B2B2B2;
  border-radius: 8px;
  color: #242426;
  margin-top: 25px;
  margin-bottom: 25px;

  &--grey {
    background-color: #F5F5F7;
  }

  &--white {
    background-color: white;
  }

  &__title-con {
    @include flexcon(center, left, row);
    cursor: pointer;

    .title {
      font-weight: bold;
      font-size: 24px;
      margin-right: 5px;
    }

    .arrow-con {
      display: inline-block;
      width: 20px;
      min-width: 20px;
      margin-left: auto;
      transition: all .2s;

      img {
        width: 100%;
      }
    }

    .rotate-up {
      transform: rotate(-180deg);
    }
  }

  &__content {
    font-size: 18px;
    margin-top: 15px;
    width: 95%;
  }
}