.btn {
  padding: 6px 12px;
  font-size: 14px;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 6px;
}