.footer-con {
  background-color: #02132F;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 150px;
  color: #FFFFFF;
  font-size: 16px;

  a {
    font-weight: 400;
    opacity: .7;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    // color: darken(rgba(255, 255, 255, 0.705), 20%)
    opacity: 1;
  }

  h1{
    font-size: 20px;
    // text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  .brand-con {
    margin-bottom: 50px;
    &__title {
      font-size: 36px;
      font-weight: normal;
      text-transform: none;
    }

    &__register-btn {
      @include custom-btn(#06A84B,white,#06A84B);
      padding: 8px 16px;
      min-width: 160px;
      font-size: 18px;
      border-radius: 6px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .container {
    @media (max-width: 1023px) {
      display: grid;
      grid-gap: 50px;
    }
  }

  .links-con {
    .link--grid {
      @media (max-width: 1023px) {
        display: grid;
        grid-gap: 50px;
      }
    }
    .links-and-headers {
      margin-bottom: 30px;

      @media (max-width: 1023px) {
        margin: 0;
      }
      .header {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      li {
        line-height: 1.8em;

        // a {
        //   font-weight: 400;
        //   opacity: 0.7;
        // }

        // a:hover {
        //   color: darken(rgba(255, 255, 255, 0.705), 20%)
        // }
      }
    }
  }

  .logo-copyright {
    @include flexcon(left, left, column);
    margin-top: 20px;
    margin-bottom: 20px;
    .logo-con {
      height: 40px;
      display: inline-block;
      align-self: flex-start;
      // max-width: 200px;
      margin-bottom: 15px;
      cursor: pointer;

      img {
        // width: 100%;
        height: 100%;
        // color: #5FC18B;
      }
    }

    // .terms-link {
    //   opacity: 0.7;
    // }

    // .terms-link:hover {
    //   color: darken(rgba(255, 255, 255, 0.705), 20%)
    // }

    .copyright {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 15px;
      opacity: 0.7;
    }
  }

  .footer-social-con {
    // width: 18.75%;
    display: flex;
    margin-bottom: 20px;
    margin-top: 100px;
    justify-content: flex-end;
    padding-right: 10%;
    @media (max-width: 1023px) {
      margin: 0;
      a {
        &:first-of-type {
          img {
            margin-left: 0;
          }
        }
      }
    }
    @include respond(tab-land) {
      justify-content: flex-start;
    }
    // justify-content: space-between;

    a {
      line-height: 1.8em;

      img {
        width: 22px;
        height: 22px;
        margin-left: 18px;
      }

      &:hover {
        opacity: 1;
        filter: brightness(1);
      }
      // opacity: 0.7;
    }

    @include respond(v-small-phone) {
      display: block;

      a {
        img {
          margin: 15px 0;
        }
      }
    }

    // a:hover {
    //   color: darken(rgba(255, 255, 255, 0.705), 20%)
    // }
  }

  .footer--set {
    @media (max-width: 1023px) {
      display: grid;
      grid-gap: 50px;
      .logo-copyright {
        margin: 0;
        .logo-con, .copyright {
          margin: 0;
        }
      }
    }
  }
}
