.footer-con {
  background-color: #242426;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 150px;
  color: #FFFFFF;

  h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 10px;
  }

  .brand-con {
    margin-bottom: 50px;
    &__title {
      font-size: 36px;
      font-weight: normal;
      text-transform: none;
    }

    &__register-btn {
      @include custom-btn(white,#242426,white);
      padding: 8px 16px;
      font-size: 18px;
      border-radius: 6px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .links-con {
    .links-and-headers {
      margin-bottom: 30px;
    }

    a {
      font-weight: 400;
    }
  }

  .logo-copyright {
    @include flexcon(left, left, column);
    margin-top: 20px;
    margin-bottom: 20px;
    .logo-con {
      height: 40px;
      display: inline-block;
      max-width: 200px;
      margin-bottom: 15px;
      img {
        width: 100%;
        height: 100%;
        // color: #5FC18B;
      }
    }

    .copyright {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .footer-social-con {
    // width: 18.75%;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
  }
}