.side-nav-show {
  opacity: 1;
  z-index: 5000;
  // height: 100vh !important;
}

.side-nav-hide {
  // display: none !important;
  opacity: 0;
  z-index: -1;
}

.side-nav-div {
  height: 100vh !important;
  width: 100% !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.side-nav-con {
  background-color: $primary_color;
  color: white;
  // width: 100%;
  // top: 50%;
  overflow: hidden;
  //z-index: 5000;
  height: 100vh;
  top: 0;
  left: 0;
  // opacity: 0;
  // height: 0;
  // position: fixed;
  transition: all 1s;
  // animation: fadeOut 2s ease-in forwards;

  .close-con {
    display: block;
    margin-left: auto;
    margin-top: 17.5px;
    width: 40px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .side-nav {
    @include flexcon(center, center, column);
    padding-top: 75px;

    .link {
      margin-top: 25px
    }

    .register-btn {
      @include custom-btn($secondary_color,$color_white,$secondary_color);
      padding: 10px 24px;
      font-size: 18px;
      border-radius: 6px;
    }
  
    .register-btn:hover {
      @include custom-btn(#9daaf7,$primary_color,transparent);
    }

    .country-con {
      display: flex;
      align-items: center;
      margin-top: 25px;
      cursor: pointer;

      .country-icon {
        display: inline-block;
        width: 40px;

        img {
          width: 100%;
        }

        .other-countries {
          display: none;
          position: absolute;
          padding-top: 3px;
          opacity: 0.7;
          width: 40px;
          // bottom: -120%;
          z-index: 10;

          img {
            margin-top: 5px;
          }
        }
      }

      &:hover .other-countries {
        display: inline-block;
      }

      .caret-icon {
        display: inline-block;
        width: 10px;
        margin-left: 5px;
        svg {
          width: 100%;
        }
      }
    }
    
  }

}