.side-nav-show {
  opacity: 1 !important;
  // height: 100vh !important;
  // transform: translateY(-50%);
  // display: flex;
  height: 100vh !important;
  // animation: fadeIn 2s ease-in forwards;
}

.side-nav-hide {
  display: none !important;
  // animation: fadeOut 2s ease-in forwards;
  //animation-fill-mode: forwards;
}

.side-nav-div {
  height: 100vh !important;
  width: 100% !important;
  // animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  1% {
    height: 100vh;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    height: 100vh;
    transform: translateY(-50%);
  }
}

@keyframes fadeOut {
  0% {
  }

  99% {
    height: 100vh;
    transform: translateY(-50%);
  }

  100% {
    height: 0;
    transform: translateY(-50%);
  }
}

.hide-modal {
  opacity: 0;
  animation: fade-out-side-bar 1s forwards;
}

.show-modal {
  opacity: 1;
  animation: fade-in-side-bar 1s forwards;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes hide {
  0% {
    z-index: 2;
    opacity: 1;
  }

  99% {
    z-index: 1;
  }
  
  100% {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes show {
  0% {
    z-index: -1;
    opacity: 0;
  }

  1% {
    z-index: 1;
  }
  
  100% {
    z-index: 2;
    opacity: 1;
  }
}

.side-nav-con {
  background-color: $primary_color;
  color: white;
  // width: 100%;
  // top: 50%;
  overflow: hidden;
  z-index: 5000;
  top: 0;
  left: 0;
  opacity: 0;
  // height: 0;
  // position: fixed;
  transition: opacity 1s;
  // animation: fadeOut 2s ease-in forwards;

  .close-con {
    display: block;
    margin-left: auto;
    margin-top: 17.5px;
    width: 40px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .side-nav {
    @include flexcon(center, center, column);

    .link {
      margin-top: 25px
    }

    .register-btn {
      @include custom-btn($secondary_color,$color_white,$secondary_color);
      padding: 8px 16px;
      font-size: 18px;
      border-radius: 6px;
    }
  
    .register-btn:hover {
      @include custom-btn(#9daaf7,$primary_color,transparent);
    }

    .country-con {
      display: flex;
      align-items: center;
      margin-top: 25px;
      cursor: pointer;

      .country-icon {
        display: inline-block;
        width: 40px;

        img {
          width: 100%;
        }

        .other-countries {
          display: none;
          position: absolute;
          padding-top: 3px;
          opacity: 0.7;
          width: 40px;
          // bottom: -120%;
          z-index: 10;

          img {
            margin-top: 5px;
          }
        }
      }

      &:hover .other-countries {
        display: inline-block;
      }

      .caret-icon {
        display: inline-block;
        width: 10px;
        margin-left: 5px;
        svg {
          width: 100%;
        }
      }
    }
    
  }

}