.side-nav-show {
  top: 0 !important;
}

.side-nav-div {
  height: 100% !important;
  width: 100% !important;
}


.side-nav-con {
  background-color: $primary_color;
  color: white;
  // width: 100%;
  // height: 100vh;
  top: -100vh;
  overflow: hidden;
  // position: fixed;
  // z-index: 10000;
  transition: top 1s;

  .close-con {
    display: block;
    margin-left: auto;
    margin-top: 17.5px;
    width: 40px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .side-nav {
    @include flexcon(center, center, column);

    a {
      margin-top: 25px
    }

    .register-btn {
      @include custom-btn($secondary_color,$color_white,$secondary_color);
      padding: 8px 16px;
      font-size: 18px;
      border-radius: 6px;
    }
  
    .register-btn:hover {
      @include custom-btn(#9daaf7,$primary_color,transparent);
    }

    .country-con {
      display: flex;
      align-items: center;
      margin-top: 25px;
      cursor: pointer;

      .country-icon {
        display: inline-block;
        width: 40px;

        img {
          width: 100%;
        }

        .other-countries {
          display: none;
          position: absolute;
          padding-top: 3px;
          opacity: 0.7;
          width: 40px;
          // bottom: -120%;
          z-index: 10;

          img {
            margin-top: 5px;
          }
        }
      }

      &:hover .other-countries {
        display: inline-block;
      }

      .caret-icon {
        display: inline-block;
        width: 10px;
        margin-left: 5px;
        svg {
          width: 100%;
        }
      }
    }
    
  }

}