@import '../abstract/color';
@import '../abstract/mixins';

.landing-bg {
  background-color: $primary_color !important;
}

.landing-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  font-size: 18px;
  z-index: 3;
  transition: all 1s;
  @include flexcon(center, left, row);

  .nav-holder {
    @include flexcon(center, left, row);
  }

  .nav-con {
    width: 100%;
  }


  .hamburger-con {
    width: 30px;
    min-width: 30px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .nav {
    // @include flexcon(center, none, row);
    align-items: center;

    .link-con {
      margin-left: auto;
    }

    .link {
      margin-right: 40px;
    }
  }

  .register-con {
    margin-left: auto;
    display: flex;
    align-items: center;

    .country-con {
      display: flex;
      align-items: center;
      margin-left: 10px;
      cursor: pointer;

      .country-icon {
        display: inline-block;
        width: 40px;
        position: relative;

        img {
          width: 100%;
        }

        .other-countries {
          display: none;
          position: absolute;
          padding-top: 3px;
          opacity: 0.7;
          // bottom: -120%;
          z-index: 10;

          img {
            margin-top: 5px;
          }
        }
      }

      &:hover .other-countries {
        display: inline-block;
      }

      .caret-icon {
        display: inline-block;
        width: 10px;
        margin-left: 5px;
        svg {
          width: 100%;
        }
      }
    }
  }
  
  .logo-con {
    min-width: 220px;
    display: inline-block;
  }

  .logo {
    // min-width: 211.23px;
    height: 40px;
  }

  .register-btn {
    @include custom-btn($secondary_color,$color_white,$secondary_color);
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 6px;
  }

  .register-btn:hover {
    @include custom-btn(#9daaf7,$primary_color,transparent);
  }
}
