@import '../abstract/color';
@import '../abstract/mixins';

.landing-nav{
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  font-size: 18px;
  @include flexcon(center, left, row);

  .nav-holder {
    @include flexcon(center, left, row);
  }

  .nav-con {
    width: 100%;
  }

  .nav {
    // @include flexcon(center, none, row);
    align-items: center;

    .link-con {
      margin-left: auto;
    }

    .link {
      margin-right: 40px;
    }
  }

  .register-con {
    margin-left: auto;
  }
  
  .logo-con {
    min-width: 220px;
    display: inline-block;
  }

  .logo {
    // min-width: 211.23px;
    height: 40px;
  }

  .register-btn {
    @include custom-btn($secondary_color,$color_white,$secondary_color);
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 6px;
  }

  .register-btn:hover {
    @include custom-btn(#9daaf7,$primary_color,transparent);
  }
}
