@import '../abstract/color';
@import '../abstract/mixins';

.landing-bg {
  background-color: $primary_color !important;
}

.hamburger-con {
  width: 30px;
  min-width: 30px;
  cursor: pointer;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  right: 16px;
  z-index: 6000 !important;
  // position: relative;
  // z-index: 5010;

  @media screen and (min-width: 640px) {
    right: calc(((100% - 640px) / 2) + 30px);
  }

  @media screen and (min-width: 768px) {
    right: calc(((100% - 768px) / 2) + 30px);
  }

  img {
    width: 100%;
  }

  .hamburger-bars {
    // transform-origin: center center;
    width: 30px;
    height: 3px;
    display: block;
    transition: all .5s;
    margin: 0;
  }

  .white-bar {
    background-color: white;
  }

  .blue-bar {
    background-color: $primary_color;
  }

  .top-bar {
    transform: rotate(45deg) translateY(7.5px) translateX(8px);
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg) translate(5px, -4px);
  }
}


.landing-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  font-size: 18px;
  z-index: 3;
  // transition: all 1s;
  @include flexcon(center, left, row);

  .nav-holder {
    @include flexcon(center, left, row);
  }

  .nav-con {
    width: 100%;
  }

  .invisible-logo {
    opacity: 0;
  }


  
  .nav {
    // @include flexcon(center, none, row);
    align-items: center;

    .link-con {
      margin-left: auto;

      a:hover {
        color: rgba($secondary_color, .8);
      }
    }

    .link {
      margin-right: 20px;
    }
  }

  .register-con {
    margin-left: auto;
    display: flex;
    align-items: center;

    a:hover {
      color: rgba($secondary_color, .8);
    }

    .country-con {
      display: flex;
      align-items: center;
      margin-left: 10px;
      cursor: pointer;

      .country-icon {
        display: inline-block;
        width: 40px;
        position: relative;

        img {
          width: 100%;
        }

        .other-countries {
          display: none;
          position: absolute;
          padding-top: 3px;
          opacity: 0.7;
          // bottom: -120%;
          z-index: 10;

          img {
            margin-top: 5px;
          }
        }
      }

      &:hover .other-countries {
        display: inline-block;
      }

      .caret-icon {
        display: inline-block;
        width: 10px;
        margin-left: 5px;
        svg {
          width: 100%;
        }
      }
    }
  }
  
  .logo-con {
    min-width: 220px;
    display: inline-block;
    transition: all .5s;
  }

  .logo {
    // min-width: 211.23px;
    height: 40px;
  }

  .register-btn {
    @include custom-btn($secondary_color,$color_white,$secondary_color);
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 6px;
  }

  .register-btn:hover {
    @include custom-btn(#9daaf7,$primary_color,transparent);
  }
}

.cookies {
  background-color: white;
  max-width: 500px;
  width: 90%;
  position: fixed;
  bottom: 16px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid $primary_color;
  z-index: 50;

  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  p {
    color: black;
    margin-bottom: 20px;
    max-width: 98%;
  }

  .decline {
    @include custom-btn(white,$secondary_color,$secondary_color);
    padding: 8px 16px;
    border-radius: 6px;
    margin-right: 20px;
  }

  .accept {
    @include custom-btn($secondary_color,white,$secondary_color);
    padding: 8px 16px;
    border-radius: 6px;
    margin-right: 20px;
  }
}