// Color palette declaration

$primary_color: #053888; 
$primarylite_color: #fdf4f4; 
$secondary_color: #5694fc;
$tertiary_color: #242426;
$primaryshade_color: #f3f1f6;
$grey_color: #343333;
$fade_yellow: #f5a633;
$brown_color: #a28f90;
$tabnav_color: #352c42;
$alert_border: #f9f7f7;
$grey_border: #cccccc;
$form_text: #290136;

// Background colors

$hero_bg: #f6f6f6;
$footer_bg: #f4f4f7;
$nobg: none;
$lightgrey_bg: #fbfbfb;
$alert_bg: #f3f1f5;
$actionbg: #fBfBfB;
$content_bg: #fBfBfB;
$jumbo_bg: #f9f7f7;
$navbg: #fdf6f6;

// Text color
$color_white: #ffffff;
$color_black: #000000;

// Link Color

$primarylink_color: #352c42;
$primary_soft: #fAf2f3;