@font-face {
  font-family: 'SFPro';
  src: url('assets/fonts/SFPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'SFPro';
//   src: url('assets/fonts/SFPro-Light.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SFPro';
//   src: url('assets/fonts/SFPro-ExtraBold.ttf') format('truetype');
//   font-weight: 800;
//   font-style: normal;
// }

@font-face {
  font-family: 'SFPro';
  src: url('assets/fonts/SFPro-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//   font-family: 'SFPro';
//   src: url('assets/fonts/SFPro-Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }