.u-mb-md {
  margin-bottom: 40px !important;
}

.u-mt-md {
  margin-top: 40px !important;
}

.u-my-md {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.u-my-big {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}