.u-mt-10 {
  margin-top: 10px!important;
}

.u-mb-10 {
  margin-bottom: 10px!important;
}

.u-mt-sm {
  margin-top: 20px!important;
}

.u-mb-sm {
  margin-bottom: 20px!important;
}

.u-mb-mini-md {
  margin-bottom: 30px !important;
}

.u-mb-md {
  margin-bottom: 40px !important;
}

.u-mb-big {
  margin-bottom: 80px !important;
}

.u-mb-huge {
  margin-bottom: 100px !important;
}

.u-mt-md {
  margin-top: 40px !important;
}

.u-my-md {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.u-my-big {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-color {
  color: $tertiary_color;

  &--black {
    color: #000000;
  }
}

.u-d-none {
  display: none;
}