$scrollbar_width: 6px;
// Font sizes
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font35: 35px;
$font40: 40px;
$font42: 42px;
$font45: 45px;
$font48: 48px;
$font52: 52px;