@use 'sass:math';
@import 'abstract/color';
@import 'abstract/font';
@import 'abstract/mixins';
@import 'abstract/variable';

@import 'components/buttons';
@import 'components/footer';
@import 'components/side-nav';
@import 'components/home/reviews';
@import 'components/home/mobile-app-banner';
@import 'components/home/coin-price';
@import 'components/home/why-senex';
@import 'components/home/intro-video';
@import 'components/about/foreword';
@import 'components/about/mission-vision';
@import 'components/about/senexinfo';
@import 'components/about/gallery';
@import 'components/about/join-learn';
@import 'components/about/crypto-buddy';
@import 'components/careers/core-values';
@import 'components/careers/impactful-work';
@import 'components/careers/senex-job';
@import 'components/careers/blue-sect';
@import 'components/careers/job-position';
@import 'components/careers/job-modal';
@import 'components/faq/faq-item';
@import 'components/privacy/privacy-policy';
@import 'components/terms/terms-of-use';


@import 'layout/footer';
@import 'layout/landing';

@import 'pages/home';
@import 'pages/faq';
@import 'pages/contact';

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0; padding: 0;
}

body{
  font-family: 'SFPro' !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555555;
  position: relative;
  z-index: 800;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
  position: relative;
  z-index: 800;
}

::-webkit-scrollbar-thumb {
  background-color: $primary_color;
  position: relative;
  z-index: 800;
  // border: 2px solid #555555;
  // border-radius: 10px;
}

.lock-scroll {
  height: 50vh !important;
  overflow: hidden;
}

.container {
  width: 100%;
  // margin: 0 auto;
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.container-R {
  width: 100%;

  &__padding {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.container-L {
  width: 100%;

  &__padding {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media screen and (min-width: 450px) {
  .container {
    width: 100%;
  }
  .container-full {
    width: 100%;
  }
  .container-R {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .container-L {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .container-full {
    max-width: 640px;
  }

  .container-R {
    max-width: calc(640px + ((98.5vw - 640px) / 2));
    margin-left: calc((99vw - 640px) / 2);
    padding-left: 0;

    &__padding {
      padding-left: 1.5em;
      padding-right: 0;
    }
    // max-width: 640px;
    // margin-left: calc((100vw - 640px) / 2);
    // padding-left: 1.5em;
  }

  .container-L {
    max-width: calc(640px + ((98.5vw - 640px) / 2));
    margin-right: calc((99vw - 640px) / 2);
    padding-right: 0;

    &__padding {
      padding-left: 0;
      padding-right: 1.5em;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .container-full {
    max-width: 768px;
  }

  .container-R {
    max-width: calc(768px + ((98.5vw - 768px) / 2));
    margin-left: calc((99vw - 768px) / 2);
    // padding-left: 1.5em;
  }
  .container-L {
    max-width: calc(768px + ((98.5vw - 768px) / 2));
    margin-right: calc((99vw - 768px) / 2);
    // padding-right: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .container-full {
    max-width: 1024px;
  }

  .container-R {
    max-width: calc(1024px + ((98.5vw - 1024px) / 2));
    margin-left: calc((99vw - 1024px) / 2);
    // padding-left: 1.5em;
  }
  .container-L {
    max-width: calc(1024px + ((98.5vw - 1024px) / 2));
    margin-right: calc((99vw - 1024px) / 2);
    // padding-right: 1.5em;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .container-full {
    max-width: 1280px;
  }

  .container-R {
    max-width: calc(1280px + ((98.5vw - 1280px) / 2));
    margin-left: calc((99vw - 1280px) / 2);
    // padding-left: 1.5em;

    // max-width: calc(1280px + ((100vw - 1280px) / 2));
    // margin-left: calc((100vw - 1280px) / 2);
    // padding-left: 1.5em;
  }

  .container-L {
    max-width: calc(1280px + ((98.5vw - 1280px) / 2));
    margin-right: calc((99vw - 1280px) / 2);
    // padding-right: 1.5em;
  }
}

// @media screen and (min-width: 1440px) {
//   .container {
//     max-width: 1400px;
//   }
// }