@import 'abstract/color';
@import 'abstract/font';
@import 'abstract/mixins';
@import 'abstract/variable';

@import 'components/buttons';
@import 'components/footer';
@import 'components/home/coin-price';

@import 'layout/footer';
@import 'layout/landing';

@import 'pages/home';

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0; padding: 0;
}

body{
  font-family: 'SFPro' !important;
}

.container {
  width: 100%;
  // margin: 0 auto;
}

@media screen and (min-width: 450px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

// @media screen and (min-width: 1440px) {
//   .container {
//     max-width: 1400px;
//   }
// }