// .news-blog {
//   // width: 100%;
//   // max-width: 400px;
// }

.top-h-nb {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.img-word-con-nb {
  margin-bottom: 25px;

  .img-con-nb {
    width: 100%;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  

  .word-con-nb {

    h2 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
      line-height: 1em;
    }
  
    p {
      margin-bottom: 30px;
    }
  
    span {
      display: inline-block;
      font-size: smaller;
      margin-bottom: 10px;
    }

    &__footer {
      display: flex;
      width: 60%;
      justify-content: space-between;
    }
  }
 
}

@media screen and (min-width: 1024px) {
  .img-word-con-nb {
  
    .img-con-nb {
      height: 200px;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
   
  }
}

@media screen and (min-width: 1600px) {
  .img-word-con-nb {
    font-size: 22px;

    .word-con-nb  {
      h2 {
        font-size: 36px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}


