.blog-page-con {
  padding-top: 50px;
  .header {
    text-align: center;
    margin-bottom: 50px;
    .title {
      font-size: 46px;
      font-weight: 600;
    }
    .subtitle {
      font-size: 18px;
    }
  }

  .top-stories {
    margin-bottom: 50px;
    h3 {
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: 500;
    }
  }

  .on-our-blog {
    &__header {
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 1024px) {
  .blog-page-con {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1600px) {
  .blog-page-con {
    .header {
      font-size: 22px;

      .title {
        font-size: 60px;
      }
    }
    .top-stories {
      margin-bottom: 70px;
      h3 {
        font-size: 48px;
        margin-bottom: 20px;
      }
    }

    .on-our-blog {
      font-size: 22px;
      &__header {
        font-size: 48px;
        margin-bottom: 20px;
        font-weight: 500;
      }
    }
  }
}