.faq-search-con {
  padding-top: 60px;
  color: $tertiary_color;

  .search-con {
    position: relative;
    border-radius: 10px;
    background-color: #F5F5F7;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    .search-icon {
      width: 20px;
      position: absolute;
      display: inline-block;
      top: 15px;
      left: 15px;

      @include respond(big-desktop) {
        top: 22.5px;
      }

      img {
        width: 100%;
      }
    }
  }

  input {
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    background-color: #F5F5F7;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: none;
    outline: none;

    @include respond(big-desktop) {
      font-size: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  input:focus {
    border: none;
    outline: none;
  }
}

.faq-list-con {
  margin-bottom: 25px;
  min-height: 20vh;

  .faq-list {
    margin-bottom: 25px;
  }

  .faq-help {
    color: #242426;

    a {
      color: #0850C6;
    }
  }
}
.faq-sector {
  flex-direction: column;
  align-items: center !important;
}

.faqs {
  width: 100%;
}

.faq-filter {
  top: 90px;
  margin-top: 25px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  background: #ffffff;
  li {
    border-radius: 25px;
    padding: 5px 15px;
    transition: 0.3s ease-in-out;
    a {
      font-size: 1.9rem;
      display: block;
      transition: 0.3s ease-in-out;
      color: rgba(10, 10, 10, 0.45);
      text-align: center;
    }
    &.uk-active{
      a {
        font-weight: 600;
        color: $primary_color;
      }
    }
    &:hover{
      a {
        color: $primary_color;
      }
    }
  }
}
