.faq-search-con {
  padding-top: 60px;
  margin-bottom: 100px;

  .search-con {
    position: relative;
    border-radius: 10px;
    background-color: #F5F5F7;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    .search-icon {
      width: 20px;
      position: absolute;
      display: inline-block;
      top: 15px;
      left: 15px;

      @include respond(big-desktop) {
        top: 22.5px;
      }

      img {
        width: 100%;
      }
    }
  }

  input {
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    background-color: #F5F5F7;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: none;
    outline: none;

    @include respond(big-desktop) {
      font-size: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  input:focus {
    border: none;
    outline: none;
  }
}

.faq-list-con {
  margin-bottom: 25px;
  
  .faq-list {
    margin-bottom: 25px;
  }
  
  .faq-help {
    font-weight: 500;
    color: #242426;
  
    a {
      color: #0850C6;
    }
  }
}