.faq-search-con {
  padding-top: 60px;
  margin-bottom: 100px;

  h3 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
  }
  .search-con {
    position: relative;
    border-radius: 20px;
    background-color: #F5F5F7;

    .search-icon {
      width: 20px;
      position: absolute;
      display: inline-block;
      top: 19px;
      left: 15px;

      img {
        width: 100%;
      }
    }
  }

  input {
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    background-color: #F5F5F7;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    border: none;
    outline: none;
  }

  input:focus {
    border: 1px solid #67676d;
  }
}

.faq-list-con {
  margin-bottom: 25px;
  
  .faq-list {
    margin-bottom: 25px;
  }
  
  .faq-help {
    font-weight: 500;
    color: #242426;
  
    a {
      color: #0850C6;
    }
  }
}

@media screen and (min-width: 1600px) {
  .faq-search-con {
    padding-top: 60px;
    margin-bottom: 100px;
    font-size: 22px;

    .search-con {
      position: relative;
      border-radius: 20px;
      background-color: #F5F5F7;
  
      .search-icon {
        width: 40px;
        position: absolute;
        display: inline-block;
        top: 22.5px;
        left: 20px;
  
        img {
          width: 100%;
        }
      }
    }
  
    h3 {
      font-size: 60px;
    }

    input {
      font-size: 36px;
      padding-left: 80px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .faq-list-con {
    margin-bottom: 25px;
    font-size: 22px;
    .faq-list {
      margin-bottom: 25px;
    }
    
    .faq-help {
      font-weight: 500;
      color: #242426;
    
      a {
        color: #0850C6;
      }
    }
  }
}