.snx-hero-banner {
  background-color: $primary_color;
  color: $color_white;
  margin-top: 74px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 550px;
  overflow-y: auto;
  @include flexcon(center, left, row);
}

@media screen and(max-height: 880px) {
  .snx-hero-banner {
    width: 100%;
    height: auto;
    overflow: auto;
    // min-height: 550px!important;
  }
}