.snx-hero-banner {
  background-color: $off-white-color;
  color: $color_white;
  padding-top: 75px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  // overflow-y: auto;
  @include flexcon(center, left, row);
}

.snx-hero-content-holder {
  @include flexcon(center, left, row);
}

.snx-hero-content {
  width: 100%;
  // min-height: 100%;
  height: auto;
  color: $primary_color;

  @include respond(phone) {
    padding-top: 30px;
  }

  &__title {
    text-align: left;
    line-height: 1.2em;

    &--grad {
      background: transparent linear-gradient(104deg, #7933ff 0%, #649aff 100%)
        0% 0% no-repeat padding-box;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline;
      color: $primary_color;
    }
  }
  &__title:last-of-type {
    margin-bottom: 30px;
    line-height: 1em;
  }

  &__subtitle {
    text-align: left;
    // font-size: $font18;
    width: 100%;
    font-weight: 400;
    max-width: 400px;
    color: $tertiary_color;
  }

  &__subtitle:last-of-type {
    margin-bottom: 30px;
  }

  &__btn_holder {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .register_btn {
      @include custom-btn($primary_color, $color_white, $primary_color);
      padding: 12px 24px;
      font-size: 1.8rem;
      border-radius: 6px;
      margin-right: 20px;

      @include respond(phone) {
        padding: 8px 16px;
      }
    }

    .register_btn:hover {
      @include custom-btn(#9daaf7, $primary_color, transparent);
    }

    .trading_btn {
      @include custom-btn(transparent, $primary_color, $primary_color);
      border: 1px solid;
      padding: 12px 24px;
      font-size: 1.8rem;
      border-radius: 6px;
      text-align: center;
      min-width: 180px;

      @include respond(phone) {
        padding: 8px 16px;
        min-width: 0;
      }
    }

    .trading_btn:hover {
      @include custom-btn(#a2ffff, $primary_color, transparent);
    }
  }
}

.snx-hero-img-con {
  position: relative;
  // padding: 50px 0;
  margin-top: 50px;
  margin-bottom: 50px;

  @include respond(phone) {
    padding: 50px 0;
  }

  .block-img {
    width: 75%;
    margin: 0 auto;
  }

  &__badge {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
    position: absolute;
    background-color: white;
    color: #3e3e41;
    opacity: 0;
    transition: opacity 1s;
    //animation: fade-in-anim 1s linear 1s 1 forwards;

    // @include respond(tab-land) {
    //   animation: fade-in-anim 1s linear 1s 1 forwards;
    // }

    // &:hover ~ .snx-hero-img-con__circle {
    //   opacity: 0;
    // }

    &--blue {
      background-color: #d2e2fa;
      color: $primary_color;
      top: 0;
      left: 10%;

      @include respond(small-phone) {
        left: 0;
      }
    }

    &--green {
      background-color: #d2faef;
      color: #058856;
      bottom: -25px;
      right: 15%;

      @include respond(small-phone) {
        right: 0;
        bottom: 0;
      }
    }

    &--show {
      opacity: 1 !important;
    }
  }

  &__badge-elc-box {
    display: inline-block;
    padding: 4px;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    margin-right: 8px;

    img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
    }

    &--blue {
      background-color: $primary_color;
    }

    &--green {
      background-color: #058856;
    }
  }

  &__star {
    width: 50px;
    height: 50px;
    position: absolute;
    transition: transform 1s linear;
    backface-visibility: hidden;

    &--purple {
      left: 8%;
      top: 40%;

      @include respond(phone) {
        left: 0;
      }

      &:hover {
        // animation: star-anim 4s linear infinite;
        transform: rotate(180deg);
        backface-visibility: hidden;
      }
    }

    &--green {
      right: 6%;
      top: 55%;

      @include respond(phone) {
        right: 0;
        top: 50%;
      }

      &:hover {
        // animation: star-anim 4s linear infinite;
        transform: rotate(180deg);
        backface-visibility: hidden;
      }
    }
  }

  &__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    animation: circle-anim 1s ease-in-out infinite;
    cursor: pointer;

    // &:hover ~ .snx-hero-img-con__badge {
    //   opacity: 1;
    // }

    &--blue {
      left: 70%;
      top: 0;

      @include respond(small-phone) {
        right: 0;
        left: auto;
      }
    }

    &--green {
      left: 10%;
      bottom: -45px;

      @include respond(phone) {
        bottom: 0;
      }
    }
  }
}

.snx-hero-atom-holder {
  position: relative;
  display: flex;
  justify-content: right;
  padding: 20px 0;
  // background-image: url("/img/world_dots.svg");
  background-size: cover;
}

.atom-holder {
  // border: 1px solid yellow;
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  max-height: 450px;
  // border: 1px solid red;

  .lemon-arrow {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    // transition: top 2s, right 2s;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .purple-arrow {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    bottom: -20px;
    left: -20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .circle-boy-small {
    display: inline-block;
    position: absolute;
    left: 12%;
    bottom: 12%;
    height: 40px;

    img {
      height: 100%;
    }
  }

  .circle-girl-small {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 20%;
    height: 40px;

    img {
      height: 100%;
    }
  }

  .circle-boy {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
  }

  .circle-girl {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
  }
}

.atom {
  height: 100%;
  width: 100%;
  // border: 1px solid green;
}

.coin-section {
  background-color: #042b69;
  padding: 100px 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 50%;
    background-image: url(/white-ellipse.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
  }
}

.overflow-con {
  overflow-x: auto;
  // width: 100%;
}

.snx-description-con {
  min-height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  //padding-bottom: 50px;

  &__inside {
    align-items: center;
    padding: 100px 30px 0;

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    // @include respond(phone) {
    //   padding-top: 50px;
    // }

    &--reverse-sm {
      @include respond(tab-port) {
        flex-direction: column-reverse;
      }
    }

    &--reverse {
      flex-direction: row-reverse;

      @include respond(tab-land-sm) {
        flex-direction: column-reverse;
      }
    }
  }

  &__child {
    flex: 0 0 48%;

    @include respond(tab-land) {
      flex: 0 0 50%;
    }

    @include respond(tab-port) {
      flex: none;
    }
  }
}

.sdc-pb {
  padding-bottom: 50px;
}

.sdc-pb {
  padding-bottom: 50px;
}

.bg-grey {
  background-color: #f5f5fd;
}

.snx-description {
  @include flexcon(left, center, column);
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;

  @include respond(tab-port) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  &__title {
    text-align: left;
    line-height: 1.2em;
    margin-bottom: 30px;
    width: 80%;
    color: $primary_color;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__subtitle {
    text-align: left;
    width: 100%;
    max-width: 400px;

    @include respond(tab-land) {
      max-width: 100%;
    }
  }
}

.snx-description-img-con {
  position: relative;
  // border: 1px solid $primary_color;
  // width: 100%;

  &:hover {
    .holder {
      .up {
        //transform: translate(20px, 20px);
        transform: translate(5%, 5%);
      }

      .down {
        //transform: translate(-20px, -20px);
        transform: translate(-5%, -5%);
      }
    }

    .reduce-img {
      transform: scale(0.9);
    }
  }

  .screenshot-con {
    position: relative;
    max-width: 552px;
    max-height: 552px;
    margin: 0 auto;
    margin-top: 30px;

    @include respond(tab-land) {
      width: 30vw;
      // height: 30vw;
    }

    @include respond(tab-port) {
      width: 80vw;
    }
  }

  .screenshot-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: 3;

    @include respond(tab-land) {
      width: 100%;
      margin: 0 auto;
    }
  }

  .green-star {
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 1;

    @include respond(phone) {
      z-index: 0;
      width: 50px;
    }

    &--up {
      top: 0;
      right: 10%;
      transform: translateY(-50%, -50%);
      animation: star-anim-gr-1 7s linear infinite;
    }

    &--down {
      left: 0;
      bottom: 20%;
      transform: translate(-50%, 50%);
      animation: star-anim-gr-2 7s linear infinite;
    }
  }

  .holder {
    position: relative;
    left: 50px;
    top: 50px;
    background-color: $primary_color;
    padding-bottom: 50px;
    margin-bottom: 70px;
    width: 400px;
    height: 400px;

    @include respond(tab-land) {
      width: 30vw;
      height: 30vw;
    }

    @include respond(tab-port) {
      width: 50vw;
      height: 50vw;
      left: 0;
    }

    @include respond(phone) {
      width: 60vw;
      height: 60vw;
      left: 0;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 70px;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    // @include respond(phone) {
    //   width: 90vw;
    //   height: 90vw;
    // }

    .girl-with-phone {
      position: absolute;
      width: 100%;
      bottom: 20px;
      left: -20px;
      z-index: 3;
    }

    .img-badge {
      width: 150px;
      height: auto;
      position: absolute;
      z-index: 5;
      // transform: scale(1.6);

      @include respond(phone) {
        width: 80px;
      }

      @include respond(small-phone) {
        width: 60px;
      }

      &--1 {
        top: 0;
        left: 80%;
      }

      &--2 {
        bottom: 10%;
        left: -20px;
      }
    }

    .yellow-star {
      width: 100px;
      height: auto;
      position: absolute;
      z-index: 5;

      &--1 {
        top: 20%;
        left: -20px;
        // translate: -50% -50%;
        animation: star-anim-yw-1 7s ease-in infinite;
        z-index: 4;
      }

      &--2 {
        bottom: 20px;
        right: 0;
        // translate: 50% 0;
        animation: star-anim-yw-2 7s ease-in infinite;
        // animation: star-anim 7s linear infinite;
        z-index: 2;
      }
    }

    .up {
      width: 57%;
      height: 57%;
      position: absolute;
      z-index: 2;
      transition: transform 0.3s;
      top: 0;
      left: 0;
    }

    .down {
      width: 57%;
      height: 57%;
      position: absolute;
      transition: transform 0.3s;
      bottom: 0;
      right: 0;
    }
  }

  .reduce-img {
    // width: 37.5vw;
    // height: 37.5vw;
    //transform: translate(-50%, -50%);
    transition: transform 0.3s;
  }

  img {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }

  .secure-lock-svg {
    transform-origin: center center;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 400px;

    .disappear {
      transition: all 0.3s;
    }

    #diagonal-1 {
      transition: all 0.3s;
    }

    #diagonal-2 {
      transition: all 0.3s;
    }

    #blue-circle-svg {
      transition: all 0.3s;
      transform-origin: center center;
    }

    #ios-lock {
      transform-origin: center;
      transform-box: fill-box;
      transition: all 0.3s;
      transform: translate(1310.755px, 4227.767px);
    }
  }

  @include respond(normal-to-big) {
    .secure-lock-svg:hover {
      #ios-lock {
        //transform-origin: center center;
        transform: translate(1310.755px, 4227.767px) rotate(180deg);
      }

      #blue-circle-svg {
        transform: scale(0.9);
      }

      .disappear {
        opacity: 0;
      }

      #diagonal-1 {
        opacity: 0;
      }

      #diagonal-2 {
        opacity: 0;
      }
    }
  }

  .secure-lock-svg-click {
    #ios-lock {
      //transform-origin: center center;
      transform: translate(1310.755px, 4227.767px) rotate(180deg);
    }

    #blue-circle-svg {
      transform: scale(0.9);
    }

    .disappear {
      opacity: 0;
    }

    #diagonal-1 {
      opacity: 0;
    }

    #diagonal-2 {
      opacity: 0;
    }
  }
}

.snx-img-con-height {
  max-height: 80%;
}

.landing-animation {
  animation-name: landing-anim;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.purple-arrow-animation {
  animation-name: purple-anim;
  animation-duration: 2s;
  // animation-delay: 1s;
}

.lemon-arrow-animation {
  animation-name: lemon-anim;
  animation-duration: 2s;
  // animation-delay: 1s;
}

.up-anim {
  transition: transform 0.75s;
}

.up-anim:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 450px) {
  .snx-description-img-con {
    .secure-lock-svg {
      max-height: 300px;
    }
  }
}

@media screen and (max-width: 550px) {
  .landing-animation {
    animation-name: landing-anim-sm;
  }

  .purple-arrow-animation {
    animation-name: purple-anim-sm;
  }

  .lemon-arrow-animation {
    animation-name: lemon-anim-sm;
  }

  .atom-holder {
    width: 100%;

    .lemon-arrow {
      width: 40px;
      height: 40px;
    }

    .purple-arrow {
      width: 40px;
      height: 40px;
      bottom: 0;
      left: 0;
    }

    .circle-boy-small {
      left: 15%;
      bottom: 15%;
      height: 20px;
    }

    .circle-girl-small {
      top: 25%;
      right: 25%;
      height: 20px;
    }
  }

  // .atom-holder {
  //   width: 100%;
  // }

  .atom {
    // height: 100%;
    width: 80%;
    margin: auto;
  }
}

@keyframes lemon-anim {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: calc(20% - 34px);
    right: calc(20% - 34px);
    // transform: rotate(25deg);
  }
  100% {
    top: 0;
    right: 0;
  }
}

@keyframes purple-anim {
  0% {
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: calc(12% - 34px);
    left: calc(12% - 34px);
    // transform: rotate(45deg);
  }
  100% {
    bottom: -20px;
    left: -20px;
  }
}

@keyframes landing-anim {
  0% {
    width: 50px;
  }
  100% {
    width: 52%;
  }
}

@keyframes landing-anim-sm {
  0% {
    width: 50px;
  }
  100% {
    width: 45%;
  }
}

@keyframes lemon-anim-sm {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: calc(25% - 30px);
    right: calc(25% - 30px);
    // transform: rotate(25deg);
  }
  100% {
    top: 0;
    right: 0;
  }
}

@keyframes purple-anim-sm {
  0% {
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: calc(15% - 30px);
    left: calc(15% - 30px);
    // transform: rotate(45deg);
  }
  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes star-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes star-anim-yw-1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes star-anim-yw-2 {
  from {
    transform: translateX(50%) rotate(0deg);
  }
  to {
    transform: translateX(50%) rotate(360deg);
  }
}

@keyframes star-anim-gr-1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes star-anim-gr-2 {
  from {
    transform: translate(-50%, 50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, 50%) rotate(360deg);
  }
}

@keyframes circle-anim {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade-in-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .snx-description-con__child {
    order: 1;
  }
  .snx-description-img-con .secure-lock-svg {
    max-height: 100%;
  }
}
