.snx-hero-banner {
  background-color: $primary_color;
  color: $color_white;
  padding-top: 75px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  // overflow-y: auto;
  @include flexcon(center, left, row);
}

.snx-hero-content-holder {
  @include flexcon(center, left, row);
}

.snx-hero-content {
  width: 100%;
  // min-height: 100%;
  height: auto;

  &__title {
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2em;
  }
  &__title:last-of-type {
    margin-bottom: 30px;
    line-height: 1em;
  }

  &__subtitle{
    text-align: left;
    font-size: $font18;
    font-weight: 400;
    max-width: 500px;
  }

  &__subtitle:last-of-type {
    margin-bottom: 30px;
  }

  &__btn_holder {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .register_btn {
      @include custom-btn($secondary_color,$color_white,$secondary_color);
      padding: 10px 24px;
      font-size: 18px;
      border-radius: 6px;
      margin-right: 20px;
    }

    .register_btn:hover {
      @include custom-btn(#9daaf7,$primary_color,transparent);
    }

    .trading_btn {
      @include custom-btn($nobg,$color_white,$color_white);
      border: 1px solid;
      padding: 10px 24px;
      font-size: 18px;
      border-radius: 6px;
      min-width: 180px;
      text-align: center;
    }

    .trading_btn:hover {
      @include custom-btn(#a2ffff,$primary_color,transparent);
    }

  }

}


.snx-hero-atom-holder {
  position: relative;
  display: flex;
  justify-content: right;
  padding: 20px 0;
}

.atom-holder {
  // border: 1px solid yellow;
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  max-height: 450px;
  // border: 1px solid red;

  .lemon-arrow {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    // transition: top 2s, right 2s;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .purple-arrow {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .circle-boy-small {
    display: inline-block;
    position: absolute;
    left: 20%;
    bottom: 20%;
    height: 50px;

    img {
      height: 100%;
    }
  }

  .circle-girl-small {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 20%;
    height: 50px;

    img {
      height: 100%;
    }
  }

  .circle-boy {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
  }

  .circle-girl {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
  }
}

.atom {
  height: 100%;
  width: 100%;
  // border: 1px solid green;
}

.coin-section {
  background-color: #0f2548;
  padding: 20px 0;
}

.overflow-con {
  overflow-x: auto;
  // width: 100%;
}

.snx-description-con {
  min-height: 400px;
  padding-top: 50px;
  overflow: hidden;
  //padding-bottom: 50px;
}

.sdc-pb {
  padding-bottom: 50px;
}

.bg-grey {
  background-color: #f5f5fd;
}

.snx-description {
  @include flexcon(left, center, column);
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;

  &__title{
    text-align: left;
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 30px;
    width: 90%;
  }

  &__subtitle {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
  }
}

.snx-description-img-con {

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.landing-animation {
  animation-name: landing-anim;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.purple-arrow-animation {
  animation-name: purple-anim;
  animation-duration: 2s;
  // animation-delay: 1s;
}

.lemon-arrow-animation {
  animation-name: lemon-anim;
  animation-duration: 2s;
  // animation-delay: 1s;
}

.up-anim {
  transition: transform 0.75s;
}

.up-anim:hover {
  transform: translateY(-5px);
}

@media screen and(max-width: 991px) {
  .snx-hero-content {
    width: 100%;
    padding: 50px 0;
    // min-height: 100%;
    height: auto;
  
    &__title{
      text-align: left;
      font-size: 32px;
      line-height: 1.2em;
    }
    &__title:last-of-type {
      margin-bottom: 30px;
      line-height: 1em;
    }
  
    &__subtitle{
      text-align: left;
      font-size: $font18;
    }
  
    &__subtitle:last-of-type {
      margin-bottom: 30px;
    }
  
    &__btn_holder {
      display: flex;
      width: 100%;
  
      .register_btn {
        @include custom-btn($secondary_color,$color_white,$secondary_color);
        font-size: 18px;
        border-radius: 6px;
        margin-right: 20px;
        margin-top: 20px;
      }
  
      .register_btn:hover {
        @include custom-btn(#9daaf7,$primary_color,transparent);
      }
  
      .trading_btn {
        @include custom-btn($nobg,$color_white,$color_white);
        border: 1px solid;
        font-size: 18px;
        border-radius: 6px;
        margin-top: 20px;
      }
  
      .trading_btn:hover {
        @include custom-btn(#a2ffff,$primary_color,transparent);
      }
  
    }
  
  }

  .snx-description-con {
    min-height: 400px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .bg-grey {
    background-color: #f5f5fd;
  }
  
  .snx-description {
    // @include flexcon(left, center, column);
    padding-top: 50px;
    padding-bottom: 50px;
    // height: 100%;
  
    &__title{
      text-align: left;
      font-size: 32px;
      line-height: 1em;
      margin-bottom: 30px;
    }
  
    &__subtitle{
      text-align: left;
      font-size: 14px;
    }
  }  
  
}


@media screen and(max-width: 768px) {
  .atom-holder {
    width: 100%;
  }

  .atom {
    // height: 100%;
    width: 80%;
    margin: auto;
  }

}

@media screen and(min-width: 1600px) {
  .snx-hero-content {
    &__title {
      font-size: 60px;
    }
  
    &__subtitle{
      font-size: 22px;
    }
  }

  .snx-description {
  
    &__title{
      font-size: 52px;
    }
  
    &__subtitle {
      font-size: 22px;
    }
  }
}

@media screen and(min-height: 890px) {
  .atom-holder {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 520px;
  }

  .atom {
    max-height: 520px;
    width: 100%;
  }
}

@keyframes lemon-anim{
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: calc(20% - 37px);
    right: calc(20% - 37px);
  }
  100% {
    top: 0;
    right: 0;
  }
}

@keyframes purple-anim {
  0% {
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: calc(20% - 37px);
    left: calc(20% - 37px);
  }
  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes landing-anim {
  0% {
    width: 50px;
  }
  100% {
    width: 52%;
  }
}
