.main-header-tp {
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
  padding-top: 60px;

  h1 {
    font-size: 46px;
    text-align: center;
  }

  p {
    font-weight: normal;
  }
}

.con-tp {

  .first-para-tou {
    margin-bottom: 30px;
  }

  .first-para-tp {
    margin-bottom: 60px;
  }

  h2 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 15px;
  }

  h3 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 60px;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;
  }
}