.main-header-tp {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 60px;
}

.con-tp {

  .first-para-tou {
    margin-bottom: 30px;
  }

  .first-para-tp {
    margin-bottom: 60px;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 60px;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 15px;
  }
}
